
@font-face{
    font-family: "Montserrat";
    src: url(/Montserrat/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}



.row.justify-content-center {
padding: 30px 5px;
}
.HomePageHeader {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 60px;
  color:#744ABC;
  text-align: center;
}

.imgContainer {
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-30%, -50%);
  z-index: 100;
  word-wrap: normal;
}




.navbar-brand {
  margin-left: 20px;

}
.filterContainer {
  padding: 20px 10px;
  /* border: 1px solid #d6d6d6; */
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

.selectContainer {
    padding: 10px 7px;
    background-color: #ead0ec;
  }


p {
  color: rgb(32, 32, 32);
  font-size: 14px;
  line-height: 1.4rem;
}
h1 {
  font-size: 40px;
  color: #744ABC;
  font-family: sans-serif;
  font-weight: 900;
  text-align: left;
}

.mainContainer {
  margin: 20px 20px;
}

.bg-light {
  background-color: #ffea73 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
}

.content {
  padding: 10px 30px;
}
.BtnContainer {
  display: inline;
  width: 100%;
}
  .showBtn {
    padding: 10px 20px;
    border: 2px rgb(39, 39, 39) solid;
    background-color: #ffea73;
    border-radius: 9px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-block;
  }
  .one-col-paragraph {
    margin: 20px 0px;
    max-width: 60%;
    display: inline-block;
  }

/*   .standardText {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4rem;
    color: #333;
  } */

  /* th {
    padding: 10px 20px;
  }
  td {
    padding: 7px 20px;
  }
  thead {
    text-align: left;
  } */
  #filterBtn {
    border: 1px #333 solid;
    display: inline-block;
    padding: 7px 16px 7px 16px;
    border-radius: 8px;
  }


  


  /*Bootstrap table CSS*/

.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


.table-responsive-stack td,
.table-responsive-stack th {
   display:block;
/*flex-grow | flex-shrink | flex-basis*/
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
  }
  

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;
   }
  }

/* @media (min-width: 400px)
.container {
    max-width: 1200px 
} */


